.btn {
  font-family: "Cairo", sans-serif;
  border: none;
  padding: 4px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  height: 42px;
}

.btn-primary {
  background-color: #866eaf;
  color: white;
}

.btn-secondary {
  background-color: #866eaf26;
  color: #866eaf;
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

.section {
  margin: 96px 0px 0px 0px;
}

.section-title {
  text-align: center;
  margin-bottom: 64px;
}
.title {
  font-size: clamp(1.2rem, 4vw, 2rem);
  color: #866eaf;
  font-weight: 700;
  text-align: center;
}

.sub-title {
  font-size: clamp(0.8rem, 3vw, 1.4rem);
  color: #AEA7BB;
  font-weight:400;
  text-align: center;

}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */


button i{
  padding: 0px 8px;
}