body {
  font-family: "Cairo", sans-serif;
}

.container-form {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 16px 32px;
}
.form-large {
  height: 95%;
}
.form {
  width: 788px;
  height: 540px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px #00000026;
}

.form-gradient {
  position: relative;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.form-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: linear-gradient(
    270deg,
    rgba(221, 217, 230, 0.5) 0%,
    #9381b3 50%,
    #866eaf 100%
  );
}

.form-large {
  display: flex;
  flex-direction: column;
  height: 640px;
}

.final-success-form {
  height: 520px;
}
.form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-question {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.quote {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.quote-primary {
  color: #866eaf;
}

.otp-quote {
  font-size: 22px;
}
.form-question-title {
  margin-bottom: -24px;
}
.email-title-padding {
  margin-bottom: -48px !important;
}
.quote-primary-padding {
  padding-bottom: 36px;
}

.information-container {
  border-radius: 16px;
  overflow: hidden;
      padding: 46px 0px 0px 0px;
}

.info-col {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #ddd9e680;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 0.5px solid #a194b780;
}
.info-col .key {
  color: #aea7bb;
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-col .value {
  color: #866eaf;
}

.form-input .email-input {
  width: 100%;
  border-radius: 16px;
  background-color: #ddd9e680;
  border: none;
  text-align: right;
  color: #866eaf;
  font-size: 24px;
padding: 16px 0px;
  border: none;
}
.email-input::placeholder,
textarea::placeholder {
  font-family: "Cairo", sans-serif;
  text-align: right;
  color: #866eaf;
  font-size: 24px;
  padding: 8px;
}

.otp-flex {
  display: flex;
  justify-content: space-between;
}
.otp-flex .otp-input {
  width: 13%;
  height: 85px;
  border-radius: 24px;
  text-align: center;
  line-height: 85px;
  font-family: "Cairo", sans-serif;
  font-size: 64px;
  caret-color: transparent;
  border: none;
  background-color: #ddd9e680;
}
.otp-flex .otp-input::placeholder {
  color: #b5a7d6;
}
.form-btn-container {
  display: flex;
  justify-content: space-evenly;
  padding: 24px 0px;
}

.form-btn {
  font-family: "Cairo", sans-serif;
  padding: 8px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 4px 16px 0px #00000040;
}

.form-btn-primary {
  background-color: #866eaf;
  color: #ffffff;
}

.form-btn-secondary {
  background-color: #ffffff;
  color: #866eaf;
}

.form-btn-primary:hover {
  background-color: #ffffff;
  color: #866eaf;
  outline: 1px solid #866eaf;
  transition: 0.5s;
}

.form-btn-secondary:hover {
  background-color: #866eaf;
  color: #ffffff;
  transition: 0.5s;
}

.btn-full {
  width: 100%;
}

.btn-full span {
  padding-right: 8px;
  font-size: 24px;
}
.info-btns {
  margin-top: 24px;
}
.form-footer {
  background-color: #edecef;
  display: flex;
  gap: 24px;
  font-weight: 600;
  font-size: 24px;
  justify-content: center;
  padding: 8px 0px;
}

.footer-question {
  font-weight: 600;
  font-size: 24px;
}

.footer-link {
  font-weight: 600;
  font-size: 24px;
  color: #866eaf;
  cursor: pointer;
}
.footer-link:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.button-footer {
  background-color: transparent;
  margin-top: -36px;
  margin-bottom: -22px;
}
.button-footer-link {
  font-weight: 500;
  font-size: 24px;
  color: #bcbabf;
}

.link-primary {
  color: #866eaf;
  font-weight: 600;
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

@media screen and (max-width: 576px) {
  .form {
    height: 678px;
  }
  .form-question {
    font-size: 22px;
  }
  .quote,
  .footer-question,
  .footer-link {
    font-size: 18px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
  }
  .form-btn-container {
    flex-direction: column;
    gap: 8px;
  }
  .last-button {
    order: 1;
  }
  .otp-flex {
    gap: 6px;
  }
  .otp-flex .otp-input {
    height: 48px;
    border-radius: 8px;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
  }
  .info-col {
    font-size: 16px;
  }
  .final-success-form {
    height: 420px;
  }
}
